
<a [routerLink]="['/']">Home</a> | <a [routerLink]="['createuser']">Create User</a> | <a [routerLink]="['Team']">Create a Team</a> | <a [routerLink]="['createchannel']">Create a Channel</a>


<hr>
<div style="text-align:center">
    <h1>
        {{ title }}!
    </h1>
    <ul>
        <li>
            <a [routerLink]="['home']">Home</a>
        </li>
        <li>
            <a [routerLink]="['createuser']">Create a user</a>
        </li>
        <a [routerLink]="['createchannel']">Create a Channel</a>
    </ul>
<router-outlet></router-outlet>