<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h1>
    {{ title }}!
  </h1>
  <ul>
    <li>
      <a [routerLink]="['home']">Home</a>
    </li>
    <li>
      <a [routerLink]="['createuser']">Add a Question</a>
    </li>
    <!-- <li>
      <a [routerLink]="['home']">logout</a>
    </li> -->
  </ul>
  Please Login
  <div class="container">
    <div class="row">
      <form (submit)="onSubmit()" #userForm="ngForm" class="w-100">
        <div class="row">
          <div class="col-6">
            <div class="form-group">
              <span name="email"></span>
              <input type="text" name="email" class="form-control" placeholder="*Email" required minlength="4" [(ngModel)]='newPerson.email'
                #email="ngModel" />
              <div class="errors">
                <p *ngIf="email.errors && email.dirty">Email is required</p>
              </div>
            </div>
            <div class="form-group">
              <span name="fullname"></span>
              <input type="text" name="fullname" class="form-control" placeholder="*Full Name" required minlength="4" [(ngModel)]='newPerson.fullname'
                #fullname="ngModel" />
              <div class="errors">
                <p *ngIf="fullname.errors && fullname.dirty">Full name is required</p>
              </div>
            </div>
            <div class="form-group">
              <span name="displayname"></span>
              <input type="text" name="displayname" class="form-control" placeholder="*Display Name" required minlength="4" [(ngModel)]='newPerson.displayname'
                #displayname="ngModel" />
              <div class="errors">
                <p *ngIf="displayname.errors && displayname.dirty">Display name is required</p>
              </div>
            </div>
            <div class="form-group">
              <span name="password"></span>
              <input type="password" name="password" class="form-control" placeholder="*password" required minlength="4" [(ngModel)]='user.password'
                #password="ngModel" />
              <div class="errors">
                <p *ngIf="password.errors && password.dirty">Password is required</p>
              </div>
            </div>
            <div class="form-group">
              <button class="btn btn-success" *ngIf="!userForm.valid" disabled>Create!</button>
              <button type="submit" class="btn btn-success" *ngIf="userForm.valid">Create!</button>
            </div>
          </div>
        </div>
      </form>
    </div>



    {{ note | json }}