<h1>Try again</h1>
<h1>put base in correct place</h1>
<div class="container">
  <div class="row">
    <form (submit)="onSubmit()" #userForm="ngForm" class="w-100">
      <div class="row">
        <div class="col-6">
          <div class="form-group">
            <span name="email"></span>
            <input type="text" name="email" class="form-control" placeholder="*Email" required minlength="4" [(ngModel)]='newPerson.email'
              #email="ngModel" />
            <div class="errors">
              <p *ngIf="email.errors && email.dirty">Email is required</p>
            </div>
          </div>
          <div class="form-group">
            <span name="password"></span>
            <input type="password" name="password" class="form-control" placeholder="*password" required minlength="4" [(ngModel)]='newPerson.password'
              #password="ngModel" />
            <div class="errors">
              <p *ngIf="password.errors && password.dirty">Password is required</p>
            </div>
          </div>
          <div class="form-group">
            <input type="submit" value="Login!" class="btn btn-success" disabled="!email.valid || !password.valid">
          </div>
        </div>
      </div>
    </form>
  </div>
</div>

